/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        optimizeimport_macro: optimizeimport {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp O>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_CONTROL>;

            label = "OPTIMIZEIMPORT";
        };

        thisisunsafe_macro: thisisunsafe_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp T &kp H &kp I &kp S &kp I &kp S &kp U &kp N &kp S &kp A &kp F &kp E>;

            label = "THISISUNSAFE_MACRO";
        };

        formatcode_macro: formatcode_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_GUI>,
                <&macro_tap>,
                <&kp L>,
                <&macro_release>,
                <&kp LEFT_GUI &kp LEFT_ALT>;

            label = "FORMATCODE_MACRO";
        };

        video_macro: video_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "VIDEO_MACRO";
        };
    };

    combos {
        compatible = "zmk,combos";

        l_combo {
            bindings = <&kp L>;
            key-positions = <38 1>;
            layers = <3>;
            timeout-ms = <3000>;
        };

        seven_combo {
            bindings = <&kp NUMBER_7>;
            key-positions = <38 25>;
            layers = <3>;
            timeout-ms = <3000>;
        };

        eight_combo {
            bindings = <&kp NUMBER_8>;
            key-positions = <38 3>;
            layers = <3>;
            timeout-ms = <3000>;
        };

        nine_combo {
            bindings = <&kp NUMBER_9>;
            key-positions = <38 4>;
            layers = <3>;
            timeout-ms = <3000>;
        };

        video_combo {
            bindings = <&video_macro>;
            key-positions = <12 11>;
            layers = <2>;
            timeout-ms = <3000>;
        };

        console_combo {
            bindings = <&kp GRAVE>;
            key-positions = <38 0>;
            timeout-ms = <3000>;
            layers = <3>;
        };

        lbracket_combo {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <24 20>;
            layers = <2>;
            timeout-ms = <3000>;
        };

        rbracket_combo {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <24 21>;
            layers = <2>;
            timeout-ms = <3000>;
        };

        lpar_combo {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <12 20>;
            layers = <2>;
            timeout-ms = <3000>;
        };

        rpar_combo {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <12 21>;
            layers = <2>;
            timeout-ms = <3000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E             &kp R  &kp T           &kp Y      &kp U  &kp I         &kp O    &kp P     &kp BSPC
&kp CAPS   &kp A  &kp S  &kp D             &kp F  &kp G           &kp H      &kp J  &kp K         &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C             &kp V  &kp B           &kp N      &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                         &kp LEFT_CONTROL  &mo 2  &kp LEFT_GUI    &kp SPACE  &mo 1  &kp LEFT_ALT
            >;
        };

        ArrowNum {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC  &kp PLUS  &kp N7  &kp N8    &kp N9    &kp N0       &trans  &trans          &kp UP_ARROW    &trans           &kp MINUS  &kp BSPC
&trans   &kp STAR  &kp N4  &kp N5    &kp N6    &trans       &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT        &kp SLASH  &kp RALT
&trans   &trans    &kp N1  &kp N2    &kp N3    &trans       &trans  &trans          &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans     &trans
                           &kp LGUI  &kp LALT  &kp SPACE    &trans  &trans          &trans
            >;
        };

        Function {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE  &kp F1  &kp F2  &kp F3             &kp F4  &kp F5                   &kp F6   &kp F7  &kp F8          &kp F9           &kp F10   &kp PRINTSCREEN
&trans      &trans  &trans  &trans             &trans  &trans                   &trans   &trans  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp BSLH  &thisisunsafe_macro
&trans      &trans  &trans  &trans             &trans  &trans                   &trans   &trans  &trans          &trans           &trans    &to 3
                            &formatcode_macro  &trans  &optimizeimport_macro    &kp RET  &trans  &kp RALT
            >;
        };

        Gaming {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LEFT_ALT  &mo 4  &kp SPACE    &kp SPACE  &mo 4  &to 0
            >;
        };

        GamingAddon {
            bindings = <
&kp ESC  &kp N1  &trans        &kp N3          &kp N4          &kp N5             &trans  &kp INS  &kp HOME  &kp PAGE_UP    &trans  &kp F1
&trans   &trans  &trans        &trans          &kp UP_ARROW    &kp N6             &trans  &kp DEL  &kp END   &kp PAGE_DOWN  &trans  &kp F2
&trans   &kp N2  &kp NUMBER_6  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW    &trans  &trans   &trans    &trans         &trans  &kp F4
                               &trans          &trans          &trans             &trans  &trans   &trans
            >;
        };
    };
};
