/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        optimizeimport: optimizeimport {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_CONTROL &kp LEFT_ALT>,
                <&macro_press>,
                <&kp O>,
                <&macro_tap>,
                <&kp LEFT_ALT &kp LEFT_CONTROL>,
                <&macro_release>;

            label = "OPTIMIZEIMPORT";
        };
    };

    combos {
        compatible = "zmk,combos";

        six {
            bindings = <&kp NUMBER_6>;
            key-positions = <38 1>;
            layers = <3>;
            timeout-ms = <300>;
        };

        seven {
            bindings = <&kp NUMBER_7>;
            key-positions = <38 25>;
            layers = <3>;
            timeout-ms = <300>;
        };

        eight {
            bindings = <&kp NUMBER_8>;
            key-positions = <38 3>;
            layers = <3>;
            timeout-ms = <300>;
        };

        nine {
            bindings = <&kp NUMBER_9>;
            key-positions = <38 4>;
            layers = <3>;
            timeout-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E             &kp R  &kp T           &kp Y      &kp U  &kp I         &kp O    &kp P     &kp BSPC
&kp CAPS   &kp A  &kp S  &kp D             &kp F  &kp G           &kp H      &kp J  &kp K         &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C             &kp V  &kp B           &kp N      &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                         &kp LEFT_CONTROL  &mo 2  &kp LEFT_GUI    &kp SPACE  &mo 1  &kp LEFT_ALT
            >;
        };

        ArrowNum {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC  &kp EQUAL  &kp N7  &kp N8    &kp N9    &kp N0       &trans  &trans          &kp UP_ARROW    &trans           &kp MINUS      &kp BSPC
&trans   &trans     &kp N4  &kp N5    &kp N6    &trans       &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT        &kp BACKSLASH  &kp RALT
&trans   &trans     &kp N1  &kp N2    &kp N3    &trans       &trans  &trans          &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans         &trans
                            &kp LGUI  &kp LALT  &kp SPACE    &trans  &trans          &trans
            >;
        };

        Function {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5             &kp F6   &kp F7  &kp F8    &kp F9    &kp F10   &kp BSPC
&trans      &trans  &trans  &trans  &trans  &trans             &trans   &trans  &kp LBKT  &kp RBKT  &kp BSLH  &trans
&trans      &trans  &trans  &trans  &trans  &trans             &trans   &trans  &trans    &trans    &trans    &to 3
                            &trans  &trans  &optimizeimport    &kp RET  &trans  &kp RALT
            >;
        };

        Gaming {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LEFT_ALT  &mo 4  &kp SPACE    &kp SPACE  &mo 4  &to 0
            >;
        };

        GamingAddon {
            bindings = <
&kp ESC  &kp N1  &trans     &kp N3          &kp N4          &kp N5             &trans  &kp INS  &kp HOME  &kp PAGE_UP    &trans  &trans
&trans   &trans  &trans     &trans          &kp UP_ARROW    &kp N6             &trans  &kp DEL  &kp END   &kp PAGE_DOWN  &trans  &trans
&trans   &kp N2  &kp TILDE  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW    &trans  &trans   &trans    &trans         &trans  &trans
                            &trans          &trans          &trans             &trans  &trans   &trans
            >;
        };
    };
};
